.RecentEvents {
  margin: 10px;
}

.RecentEvents-header {
  font-size: 14pt;
  color: lightgrey;
}

.RecentEvents-event {
  width: 100%;
  margin: 0 0 10px;
  text-align: left;
}

.RecentEvents-event-name {
  margin: 0 0 5px;
  font-size: 16pt;
}

.RecentEvents-event-description {
  font-size: 12pt;
}
