.SearchBar {
  display: flex;
  flex-direction: column;
}

.SearchBar-input {
  border: none;
  outline: none;
  margin: 20px 10px;
  border-radius: 5px;
  font-size: 14pt;
  padding: 10px;
}

.SearchBar-suggestions {
  margin: 0 10px 10px;
}

.SearchBar-suggestion-wrapper {
  margin: 0 0 5px 0;
}

.SearchBar-suggestion {
  background-color: black;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
}

.SearchBar-suggestion-content {
  display: flex;
}

.SearchBar-suggestion-text {
}

.SearchBar-suggestion-text--main {
  display: block;
  font-size: 14pt;
}

.SearchBar-suggestion-text--secondary {
  color: lightgrey;
  font-size: 10pt;
}

.SearchBar-suggestion-icon {
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 15px;
}
