.CreateEventPage-button-wrapper {
  width: 100%;
  position: fixed;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

.CreateEventPage-button-group {
  display: flex;
  flex-direction: column;
}
